{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1>报表总览</h1>
    </div>
    <div>
        <table class="table table-hover">
            <thead>
            <tr class="text-center">
                <th>报表类型</th>
                <th>报表名称</th>
                <th>报表主题</th>
                <th>关键指标</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>开发类</td>
                <td>工作日报</td>
                <td>开发团队每日工作内容汇总清单</td>
                <td>当日完成任务数、当日修复Bug数</td>
            </tr>
            <tr>
                <td>开发类</td>
                <td>工作周报</td>
                <td>开发团队每周工作内容汇总清单</td>
                <td>本周完成任务数、本周修复Bug数</td>
            </tr>
            <tr>
                <td>测试类</td>
                <td>测试工作日报</td>
                <td>测试团队每日工作内容汇总清单</td>
                <td>当日完成测试用例数、当日新增Bug数</td>
            </tr>
            <tr>
                <td>测试类</td>
                <td>测试工作周报</td>
                <td>测试团队每周工作内容汇总清单</td>
                <td>本周完成测试用例数、本周新增Bug数</td>
            </tr>

            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
{% endblock %}